.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #0f172a;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 20px;
}

.sidebar h2 {
  margin-bottom: 40px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 20px 0;
  font-size: 16px;
}

.sidebar a:hover {
  color: #60a5fa;
}
